<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('../views/partials/head.html') %>
    <title><%=title%></title>


</head>

<body>
    <%- include ('../views/partials/navegador.html') %>

    <div class="container">

        <header class="row">
            <div class="col-lg-12 text-center">

                <img class="animated zoomInUp" src="/img/tiburon.svg" id="tiburon" alt="tiburon">


            </div>
        </header>

    </div>
    <!-- SECTION 1 -->

    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fab fa-youtube fa-10x"></i>
            </div>

            <div class="col-sm-6">
                <h3>Lorem, ipsum dolor.</h3>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos ab culpa iusto facere nostrum odio
                    totam, reprehenderit ea quod ipsam quibusdam modi tempora cupiditate sequi saepe fugiat nisi
                    temporibus. Culpa!</p>
            </div>

        </div>
    </div>



    <%- include ('../views/partials/footer.html') %>

    <%- include ('../views/partials/script.html') %>
</body>

</html>